.sticky-button {
  display: inline-flex;
  align-items: center;
  z-index: 2;
  padding: 6px 15px 7px 17px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bold;
  color: #51475a;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-name: slideIn;
  margin: 4px 0 4px 0;
  pointer-events: none;
  outline: none;

  @media (max-width: 1024px) {
    padding: 8px 15px 8px 8px;
    border-radius: 24px 0 0 24px;
    font-size: 18px;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-name: fadeIn;
  }

  &__image {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
    object-fit: contain;

    @media (max-width: 1024px) {
      width: 32px;
      height: 32px;
      margin: 0 8px 0 0;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0.5;
      right: -132px;

      @media (max-width: 1024px) {
        opacity: 0;
        right: -90px;
      }
    }

    100% {
      opacity: 1;
      right: 0;
    }
  }
}
