$btn-color: #4b6866;
$text-color: #51475a;
$input-border-color: #51475a;
$text-input-error-color: #d35959;
$text-sub-color: #2b054d;
$icon-visibility: #bebebe;
$black: #000000;
$sticky-button-background-color: #ffffff;
$sticky-button-border-color: #ffffff;
$sticky-button-text-color: #51475a;
