// Font montserrat
$font-montserrat: "Montserrat";

// Image urls
$indonesia-image-path: '~assets/images/kv-countries-indonesia.png';
$china-image-path: '~assets/images/kv-countries-china.png';
$singapore-image-path: '~assets/images/kv-countries-singapore.png';
$india-image-path: '~assets/images/kv-countries-india.png';
$vietnam-image-path: '~assets/images/kv-countries-vietnam.png';
$malaysia-image-path: '~assets/images/kv-countries-malaysia.png';
$usa-image-path: '~assets/images/kv-countries-usa.png';
$korea-image-path: '~assets/images/kv-countries-korea.png';
$thailand-image-path: '~assets/images/kv-countries-thailand.png';
$australia-image-path: '~assets/images/kv-countries-australia.png';
$japan-image-path: '~assets/images/kv-countries-japan.png';
$dubai-image-path: '~assets/images/kv-countries-dubai.png';
$france-image-path: '~assets/images/kv-countries-france.png';
$philippines-image-path: '~assets/images/kv-countries-philippines.png';
