.dialog-transition {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    z-index: 999;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow: auto;

    @media screen and (max-width: 767px) {
        &.dialog-transition-full-screen {
            // display: block;
            // overflow-y: scroll;
            // .dialog-wrapper {
            //     display: block;

            // }
        }
    }
}

.dialog-wrapper {
    display: block;
    max-width: 752px;
    width: 100%;
    margin: auto;
    @media (max-width: 576px) {
        height: 100%;
    }
}

.dialog-container {
    padding: 24px 32px 24px 24px;
    border-radius: 32px;
    background-color: #f4f4f4;
    position: relative;
    margin: 0 auto;
}

.dialog-button-close {
    text-align: right;
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
}

.dialog-button-close img {
    width: 100%;
    height: auto;
}

.title-dialog {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #51475a;
    margin-bottom: 0;
    margin-top: 0;
    font-family: $font-montserrat;
}

::v-deep .description-dialog {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #51475a;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 395px;
    font-family: $font-montserrat;
    i {
        font-style: italic;
    }
}

.dialog-right {
    position: absolute;
    width: 269px;
    right: 0;
    bottom: 0;
    line-height: 0;
}

.dialog-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.dialog-left {
    width: 600px;
    padding: 32px;
    border-radius: 32px;
    background-color: #ffffff;
}

@media screen and (max-width: 576px) {
    h5 {
        font-size: 18px;
        max-width: 100%;
    }
    
    .dialog-container {
        border-radius: 0;
    }

    .dialog-container,
    .dialog-left {
        width: 100%;
    }

    .dialog-right {
        width: 200px;
    }

    .dialog-container {
        padding: 64px 16px 24px 16px;
        border-radius: 0;
        min-height: 100vh;
    }

    .dialog-button-close {
        right: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
    }

    button {
        width: 100%;
    }

    .dialog-right {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .dialog-left {
        padding: 24px;
        min-height: calc(100vh - 64px - 24px);
    }

    .dialog-transition {
        .dialog-container {
            .button-label {
                margin-bottom: 176px;
            }
        }

    }
}

@media screen and (max-width: 320px) {
    .dialog-button-close {
        right: 16px;
    }
}